/*Variables colores*/
$intense-red: #b5191b;
/*rbg(181,25,27)*/
$icon-red:#c6161a;
/*rgb(198,22,26)*/
$btn-red:#e52234;
/*rbg(229,34,52);*/
$orange:#e42f18;
/*rgb(228,47,24);*/
$ligth-orange:#e84d1b;
/*rgb(232,77,27)*/
$mostaza:#e8a126;
/*rgb(232,161,38)*/
$mostaza-oscuro:#ca782b;
/*rgb(202,120,43)*/
$almost-white:#ced6ca;
/*rgb(206,214,202)*/
$too-pale-blue:#b7b2cb;
/*rgb(183,178,200)*/
$pale-blue:#aca7bc;
/*rgb(172,167,188)*/
$dark-text:#1c1e1e;
/*rgb(28,30,30)*/
$background-platform:#2e373e;
/*rgb(46,55,62)*/
$oil:#66816b;
/*rgb(104,129,107)*/
$uncertain:#414042;
/*rgb(65,64,66)*/
