/*Variables colores*/
/*rbg(181,25,27)*/
/*rgb(198,22,26)*/
/*rbg(229,34,52);*/
/*rgb(228,47,24);*/
/*rgb(232,77,27)*/
/*rgb(232,161,38)*/
/*rgb(202,120,43)*/
/*rgb(206,214,202)*/
/*rgb(183,178,200)*/
/*rgb(172,167,188)*/
/*rgb(28,30,30)*/
/*rgb(46,55,62)*/
/*rgb(104,129,107)*/
/*rgb(65,64,66)*/
html, body {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -701px; }

.push {
  height: 701px; }

.icon-landing {
  width: 24px; }

.m-0 {
  margin: 0; }

.p-0 {
  padding: 0; }

.menu:hover {
  border-bottom: 3px solid #e52234;
  transition: 500ms ease-out; }

.btn-outline-danger {
  color: #e52234 !important;
  border-color: #e52234 !important; }

.btn-outline-danger:hover {
  color: white !important;
  font-weight: 400 !important; }

section {
  padding: 0 30px;
  padding-top: 20px;
  padding-bottom: 80px; }
  section h1 {
    font-size: 1.1rem;
    color: #b5191b;
    padding: 10px; }

#search {
  width: 40px;
  height: 40px; }
  #search:hover {
    background: #c6161a;
    border-radius: 50%;
    transition: all 0.8s ease-out; }
    #search:hover path {
      fill: white; }

.btn-lg {
  margin: 0 auto;
  font-size: 0.6rem;
  padding: 2px 4px;
  margin-bottom: 15px; }
  .btn-lg:hover {
    cursor: pointer;
    background: #b5191b; }

.btn-more {
  margin-top: 25px;
  font-size: 14px; }
  .btn-more:hover {
    cursor: pointer;
    background: #b5191b; }

.carousel-indicators {
  bottom: 0; }
  .carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 50%; }

.card-white {
  border: 1px solid #e42f18;
  background: white; }

h1:first-child {
  font-weight: bold; }

/* NAV */
.navbar-brand img {
  width: 50%; }

.nav-link {
  font-size: 14px; }

nav a {
  color: #1c1e1e; }

.nav-item {
  margin: 10px; }
  .nav-item button:hover {
    cursor: pointer; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 10px;
  height: 10px; }

/* SLIDER */
.carousel-caption {
  position: absolute;
  top: 0 !important;
  bottom: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.in-dark {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.text-slider {
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  font-family: 'Lato', sans-serif; }
  .text-slider h1 {
    font-size: 21px;
    padding: 5px; }
  .text-slider h2 {
    font-size: 0.7rem; }

#search-spotlight input {
  padding: 10px;
  background: white;
  border: 1px solid #aca7bc;
  border-radius: 1rem;
  width: 100%;
  padding-left: 43px; }
  #search-spotlight input::placeholder {
    font-size: 0.8rem;
    color: #66816b; }

.search {
  position: absolute;
  top: 50%;
  left: 5%; }

/* COURSES */
#browser-courses h1 {
  color: #c6161a; }
#browser-courses .card {
  background: #e42f18;
  font-size: 12px;
  position: relative;
  padding-left: 10px; }
  #browser-courses .card .row {
    margin: 0; }
#browser-courses .card-title {
  color: #e42f18;
  padding: 5px 5px 0 5px;
  font-weight: 700;
  font-size: 17px; }
#browser-courses p {
  font-size: 13px;
  padding-right: 18px; }

h3 {
  padding-top: 30px; }

.course-time {
  font-size: 12px; }

.modal-course {
  position: absolute;
  bottom: 5%;
  right: 8%; }
  .modal-course svg {
    width: 32px; }

.tag-soon {
  position: absolute;
  top: 0;
  right: 0;
  background: #e8a126;
  color: white;
  font-size: 8px;
  padding: 6px;
  border-bottom-left-radius: 20%; }

.bg-button {
  background: #e52234;
  color: white; }

.card-row {
  padding-bottom: 2rem; }

.card-body {
  padding: 5px 0; }

/* ABOUT */
#about {
  background: #414040;
  color: white; }

.bg-video {
  position: relative; }
  .bg-video img:first-child {
    opacity: 0.4; }

.play-icon {
  position: absolute;
  width: 50px;
  top: 33%;
  left: 40%; }
  .play-icon:hover {
    cursor: pointer; }

.text-about {
  padding-top: 30px; }
  .text-about p {
    font-size: 18px; }

/* NEWS */
#news .row:first-child {
  padding-bottom: 0px; }
#news .row:last-child {
  display: flex;
  justify-content: center; }

.news-p {
  font-size: 15px; }

.news-title {
  width: 60%;
  padding: 10px;
  background: gray;
  color: white; }
  .news-title .card-title {
    font-size: 16px; }
  .news-title .card-text {
    font-size: 12px; }
  .news-title:hover {
    background: #e52234; }

.news-date {
  position: absolute;
  bottom: 10%;
  left: 6%;
  padding: 4px;
  background: #e42f18;
  font-size: 0.7rem; }

.news-more {
  position: absolute;
  background: red;
  bottom: 0;
  right: 0; }
  .news-more svg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48px; }
  .news-more:hover {
    cursor: pointer; }
    .news-more:hover path {
      fill: #e8a126; }

.news-img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }

/* FOOTER */
.footer {
  background: #2e373e;
  color: white; }

footer {
  height: 701px; }
  footer .row {
    padding: 70px 20px; }
    footer .row p {
      font-size: 0.8rem;
      font-weight: 300; }
  footer h3 {
    border-bottom: 1px solid white;
    padding: 12px 0;
    font-weight: 600;
    font-size: 1.2rem; }
  footer > p {
    background: #66816b;
    font-size: 0.7rem;
    padding: 5px 0; }
  footer .nav-link {
    position: absolute;
    right: 0;
    font-size: 0.7rem;
    font-weight: 300; }
    footer .nav-link:hover {
      color: white;
      font-weight: 500; }
    footer .nav-link .dropdown-item {
      font-size: 0.5rem; }

.links {
  margin: 50px 0; }
  .links span {
    font-size: 19px;
    font-weight: 600; }
  .links li {
    list-style: none; }
    .links li a {
      color: white; }

.redes img {
  margin: 0 5px; }

.btn-bord {
  border-radius: 1.25rem; }

.form-control {
  border-radius: 1.25rem; }

.contact-us p {
  margin: 0; }

a {
  color: white; }

.subscribe {
  margin-bottom: 20px; }
  .subscribe input {
    padding: 5px 18px;
    font-size: 0.8rem; }
    .subscribe input::placeholder {
      font-size: 0.8rem;
      padding: 0 12px; }
  .subscribe button {
    font-size: 0.6rem;
    padding: 0 10px; }
    .subscribe button:hover {
      cursor: pointer;
      background: #b5191b; }

.contact-us .redes {
  width: 100%;
  margin: 20px auto; }
.contact-us span {
  font-size: 0.8rem; }

@media only screen and (min-width: 320px) {
  section h1 {
    font-size: 1.3rem; }

  .news-p {
    font-size: 1rem; } }
@media only screen and (min-width: 370px) {
  .wrapper {
    margin: 0 0 -682px; }

  .push {
    height: 682px; }

  footer {
    height: 682px; } }
@media only screen and (min-width: 420px) {
  .wrapper {
    margin: 0 0 -662px; }

  .push {
    height: 662px; }

  footer {
    height: 662px; } }
@media only screen and (min-width: 480px) {
  section h1 {
    font-size: 30px; }

  .btn-lg {
    font-size: 1rem; }

  .wrapper {
    margin: 0 0 -663px; }

  .push {
    height: 663px; }

  footer {
    height: 663px; }

  .card-deck {
    flex-flow: row nowrap; }

  .news-p {
    font-size: 1.11rem; } }
@media only screen and (min-width: 768px) {
  .wrapper {
    margin: 0 0 -683px; }

  .push {
    height: 683px; }

  footer {
    height: 683px; }

  section h1 {
    font-size: 2rem; }

  .btn-lg {
    /*font-size: 1.2rem;*/
    padding: 7px 19px; }

  .btn-more {
    font-size: 1rem; }

  .carousel-indicators li {
    width: 12px;
    height: 12px; }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 20px;
    height: 20px; }

  .text-slider {
    width: 60%; }
    .text-slider h1 {
      font-size: 2.5rem; }
    .text-slider h2 {
      margin: 10px;
      font-size: 1.3rem; }

  .card-deck {
    flex-flow: column; }

  .card {
    margin: 20px; }

  .text-about p {
    font-size: 28px; }

  .news-p {
    font-size: 1.3rem; }

  #news .card-deck {
    margin-bottom: 20px; }

  .news-title .card-title {
    font-size: 1.5rem; }

  .news-title .card-text {
    font-size: 1rem; }

  .news-date {
    font-size: 1rem; }

  footer .row p {
    font-size: 1rem; }
  footer h3 {
    font-size: 1.4rem; }
  footer > p {
    font-size: 0.8rem; }
  footer .nav-link {
    font-size: 0.8rem; }

  .subscribe button {
    font-size: 0.8rem; }

  .contact-us span {
    font-size: 0.9rem; } }
@media only screen and (min-width: 992px) {
  section h1 {
    font-size: 2.5rem;
    padding: 25px; }

  .btn-lg {
    font-size: 1.4rem;
    padding: 7px 19px; }

  .wrapper {
    margin: 0 0 -444px; }

  .push {
    height: 444px; }

  .play-icon {
    width: 60px;
    top: 40%;
    left: 45%; }

  footer {
    height: 444px; }

  footer > p {
    font-size: 0.9rem; }

  .news-p {
    font-size: 1.5rem; }

  .card-deck {
    flex-flow: row nowrap; } }
@media only screen and (min-width: 1200px) {
  section h1 {
    font-size: 3rem;
    padding: 25px; }

  .btn-lg {
    font-size: 1.5rem;
    padding: 7px 19px; }

  .btn-more {
    font-size: 1.2rem; }

  .carousel-indicators li {
    width: 15px;
    height: 15px;
    bottom: 10px; }

  .wrapper {
    margin: 0 0 -492px; }

  .push {
    height: 492px; }

  .navbar-brand img {
    width: 70%; }

  .navbar {
    position: absolute;
    top: 0;
    z-index: 200;
    background: white;
    width: 100%;
    margin: 0 auto;
    padding: 0; }

  .nav-link {
    font-size: 16px;
    font-weight: 600; }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px;
    height: 30px; }

  .text-slider {
    width: 60%; }
    .text-slider h1 {
      margin: 10px;
      font-size: 60px;
      line-height: 3; }
    .text-slider h2 {
      margin: 10px;
      font-size: 2rem; }

  .card-deck {
    margin-bottom: 20px;
    flex-flow: row nowrap; }

  h3 {
    padding-top: 30px; }

  #browser-courses .card-deck .row {
    margin-right: -15px;
    margin-left: -15px; }
  #browser-courses .card-title {
    font-size: 21px; }
  #browser-courses p {
    font-size: 13px; }

  .modal-course {
    right: 15%; }

  .tag-soon {
    font-size: 12px;
    padding: 8px;
    border-bottom-left-radius: 30%; }

  .play-icon {
    width: 60px;
    top: 40%;
    left: 45%; }

  .text-about p {
    font-size: 32px; }

  /* NEWS */
  #news .row:first-child {
    padding-bottom: 20px; }
  #news .row:last-child {
    justify-content: flex-end; }

  .news-title {
    width: 70%;
    padding: 25px; }

  .news-title .card-title {
    font-size: 2rem; }
  .news-title .card-text {
    font-size: 1.5rem; }

  .news-date {
    padding: 8px;
    font-size: 1rem; }

  .news-p {
    font-size: 2rem; }

  /* FOOTER */
  footer {
    height: 492px; }
    footer .row {
      padding: 70px 0; }
      footer .row p {
        font-size: 1.2rem; }
    footer h3 {
      font-size: 2rem; }
    footer > p {
      font-size: 0.9rem; }
    footer .nav-link {
      font-size: 0.9rem; }

  .links {
    margin: 0px;
    margin-top: 50px; }

  .redes img {
    margin: 0 13px;
    transform: scale(1.2); }

  .redes img:hover {
    transform: scale(1.1); }

  .subscribe {
    margin: 20px; }
    .subscribe button {
      font-size: 0.9rem;
      padding: 12px; }
    .subscribe input::placeholder {
      font-size: 0.9rem; }

  .contact-us span {
    font-size: 1.1rem; }

  .address p {
    font-size: 1rem; } }
@media only screen and (min-width: 1800px) {
  section h1 {
    font-size: 5rem;
    padding: 50px; }

  .btn-lg {
    font-size: 3rem;
    padding: 7px 19px; }

  .btn-more {
    font-size: 2rem; }

  .carousel-indicators li {
    width: 25px;
    height: 25px;
    bottom: 10px; }

  .wrapper {
    margin: 0 0 -643px; }

  .push {
    height: 643px; }

  nav .container-fluid {
    padding: 20px 50px; }

  .navbar-brand img {
    width: 100%; }

  .nav-link {
    font-size: 2rem; }

  .nav-item {
    margin: 1.5rem; }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px; }

  .modal-dialog {
    display: flex;
    justify-content: center; }

  .modal-content {
    min-width: 1400px; }

  .text-slider {
    width: 60%; }
    .text-slider h1 {
      font-size: 6rem;
      line-height: 5; }
    .text-slider h2 {
      margin: 10px;
      font-size: 4rem; }

  #browser-courses .container {
    max-width: 1770px; }
  #browser-courses .card-deck .row {
    margin-right: -15px;
    margin-left: -15px; }
  #browser-courses .card-title {
    font-size: 2.7rem; }
  #browser-courses p {
    font-size: 1.4rem; }

  .card-deck {
    flex-flow: row nowrap; }

  .card {
    padding: 2px;
    margin: 30px auto; }

  .course-time {
    font-size: 1.3rem; }

  .modal-course {
    right: 15%; }

  .tag-soon {
    font-size: 1.2rem;
    padding: 8px;
    border-bottom-left-radius: 30%; }

  #about .container {
    max-width: 1770px; }

  .play-icon {
    top: 33%;
    left: 43%; }

  .text-about p {
    font-size: 3rem; }

  /* NEWS */
  #news .container {
    max-width: 1770px; }

  .news-p {
    font-size: 3rem; }

  .news-title {
    width: 70%;
    padding: 25px; }
    .news-title .card-title {
      font-size: 2.5rem; }
    .news-title .card-text {
      font-size: 2rem; }

  .news-date {
    padding: 8px;
    font-size: 2rem; }

  #news .row:first-child {
    padding-bottom: 20px; }
  #news .row:last-child {
    justify-content: flex-end; }

  /* FOOTER */
  footer {
    height: 643px; }
    footer .container {
      max-width: 1770px; }
    footer .row {
      padding: 70px 0; }
      footer .row p {
        font-size: 2rem; }
    footer h3 {
      font-size: 3rem; }
    footer p {
      font-size: 1.9rem; }
    footer .nav-link {
      font-size: 1.5rem; }

  .links {
    margin: 0px;
    margin-top: 50px; }

  .subscribe {
    margin: 20px; }

  .subscribe button {
    font-size: 0.9rem;
    padding: 12px; }

  .subscribe input::placeholder {
    font-size: 0.9rem; }

  .contact-us span {
    font-size: 1.7rem; }

  .contact-us h6 {
    font-size: 2rem; } }

/*# sourceMappingURL=main.css.map */
